# General
temp
build.config

# Flash Builder
actionscript/bin
actionscript/bin
.actionScriptProperties
.flexLibProperties

# Eclipse
.settings
.project

# Android
android/bin
android/gen
android/build
android/lint.xml
.classpath
proguard-project.txt
project.properties

# Xcode
xcuserdata

# OS X
Icon
Thumbs.db
.DS_Store

# gradle
.gradle

# intellij
.idea
*.iml
out
ios/build/
ios/Pods
